<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="allfile" xsi:type="File" fileName="d:\BookStoreAPILogs\nlog-all-${shortdate}.log" />
		<target name="exceptions" xsi:type="File" fileName="d:\BookStoreAPILogs\nlog-exceptions-${shortdate}.log"/>
		<target name="requestTimeMeasure" xsi:type="File" fileName="d:\BookStoreAPILogs\nlog-requestTimeMeasure-${shortdate}.log"/>
	</targets>
	<rules>
		<!-- To log all information form API -->-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		
		<!--To log errors only from namespace BookStore-->
		<logger name="BookStoreManager.*" minlevel="Error" writeTo="exceptions"/>

		<!--To log information only from middleware that measures request time-->
		<logger name="BookStoreManager.Middleware.TimeMeasureMiddleware" minlevel="Trace" writeTo="requestTimeMeasure"/>
	</rules>
</nlog>